<a href="https://colab.research.google.com/github/aaronpetryio/ffdp-exercises/blob/main/ffdp_vor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/74b84c5fb2371b954b52b4f67ae5220930d57861/fantasypros/fp_projections.csv')

In [10]:
df.head()

   Unnamed: 0           Player  ... PointsAllowed FantasyPoints
0           0    Lamar Jackson  ...           0.0         361.1
1           1  Patrick Mahomes  ...           0.0         345.1
2           2     Dak Prescott  ...           0.0         318.5
3           3   Deshaun Watson  ...           0.0         312.7
4           4   Russell Wilson  ...           0.0         308.5

[5 rows x 27 columns]

In [12]:
df = df.iloc[:, 1:]

In [13]:
df.head()

  Team Pos  Receptions  ...  SafetysForced  PointsAllowed  FantasyPoints
0  BAL  QB         0.0  ...            0.0            0.0          361.1
1   KC  QB         0.0  ...            0.0            0.0          345.1
2  DAL  QB         0.0  ...            0.0            0.0          318.5
3  HOU  QB         0.0  ...            0.0            0.0          312.7
4  SEA  QB         0.0  ...            0.0            0.0          308.5

[5 rows x 25 columns]

In [15]:
df.columns

Index(['Team', 'Pos', 'Receptions', 'ReceivingYds', 'ReceivingTD', 'FL',
       'RushingAtt', 'RushingYds', 'RushingTD', 'PassingAtt', 'PassingCmp',
       'PassingYds', 'PassingTD', 'Int', 'FieldGoalsMade',
       'FieldGoalsAttempted', 'ExtraPointsMade', 'TotalSacks', 'TotalInt',
       'FumblesRecovered', 'FumblesForced', 'DefensiveTDs', 'SafetysForced',
       'PointsAllowed', 'FantasyPoints'],
      dtype='object')

In [16]:
', '.join(df.columns)

'Team, Pos, Receptions, ReceivingYds, ReceivingTD, FL, RushingAtt, RushingYds, RushingTD, PassingAtt, PassingCmp, PassingYds, PassingTD, Int, FieldGoalsMade, FieldGoalsAttempted, ExtraPointsMade, TotalSacks, TotalInt, FumblesRecovered, FumblesForced, DefensiveTDs, SafetysForced, PointsAllowed, FantasyPoints'

In [17]:
scoring_weights = {
    'receptions': 1,
    'receiving_yds': 0.1, 
    'receiving_tds': 6, 
    'FL': -2,
    'rushing_yds': 0.1,
    'rushing_td': 6,
    'passing_yds': 0.04,
    'passing_td': 4,
    'int': -2
}

In [19]:
df['FantasyPoints'] = (
    df['Receptions']*scoring_weights['receptions'] + df['ReceivingYds']*scoring_weights['receiving_yds'] + df['ReceivingTD']*scoring_weights['receiving_tds'] + \
    df['FL']*scoring_weights['FL'] + df['RushingYds']*scoring_weights['rushing_yds'] + df['RushingTD']*scoring_weights['rushing_td'] + df['PassingYds']*scoring_weights['passing_yds'] + \
    df['PassingTD']*scoring_weights['passing_td'] + df['Int']*scoring_weights['int']
)

In [20]:
df['FantasyPoints']

0      361.124
1      345.384
2      318.416
3      312.888
4      308.462
        ...
681      0.000
682      0.000
683      0.000
684      0.000
685      0.000
Name: FantasyPoints, Length: 686, dtype: float64