<a href="https://colab.research.google.com/github/aaronpetryio/ffdp-exercises/blob/main/ffdp_vor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
import pandas as pd

In [52]:
df = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/74b84c5fb2371b954b52b4f67ae5220930d57861/fantasypros/fp_projections.csv')

In [53]:
df.head()

   Unnamed: 0           Player  ... PointsAllowed FantasyPoints
0           0    Lamar Jackson  ...           0.0         361.1
1           1  Patrick Mahomes  ...           0.0         345.1
2           2     Dak Prescott  ...           0.0         318.5
3           3   Deshaun Watson  ...           0.0         312.7
4           4   Russell Wilson  ...           0.0         308.5

[5 rows x 27 columns]

In [54]:
df = df.iloc[:, 1:]

In [55]:
df.head()

            Player Team Pos  ...  SafetysForced  PointsAllowed  FantasyPoints
0    Lamar Jackson  BAL  QB  ...            0.0            0.0          361.1
1  Patrick Mahomes   KC  QB  ...            0.0            0.0          345.1
2     Dak Prescott  DAL  QB  ...            0.0            0.0          318.5
3   Deshaun Watson  HOU  QB  ...            0.0            0.0          312.7
4   Russell Wilson  SEA  QB  ...            0.0            0.0          308.5

[5 rows x 26 columns]

In [56]:
df.columns

Index(['Player', 'Team', 'Pos', 'Receptions', 'ReceivingYds', 'ReceivingTD',
       'FL', 'RushingAtt', 'RushingYds', 'RushingTD', 'PassingAtt',
       'PassingCmp', 'PassingYds', 'PassingTD', 'Int', 'FieldGoalsMade',
       'FieldGoalsAttempted', 'ExtraPointsMade', 'TotalSacks', 'TotalInt',
       'FumblesRecovered', 'FumblesForced', 'DefensiveTDs', 'SafetysForced',
       'PointsAllowed', 'FantasyPoints'],
      dtype='object')

In [57]:
', '.join(df.columns)

'Player, Team, Pos, Receptions, ReceivingYds, ReceivingTD, FL, RushingAtt, RushingYds, RushingTD, PassingAtt, PassingCmp, PassingYds, PassingTD, Int, FieldGoalsMade, FieldGoalsAttempted, ExtraPointsMade, TotalSacks, TotalInt, FumblesRecovered, FumblesForced, DefensiveTDs, SafetysForced, PointsAllowed, FantasyPoints'

In [58]:
scoring_weights = {
    'receptions': 1, 
    'receiving_yds': 0.1,
    'receiving_tds': 6,
    'FL': -2, 
    'rushing_yds': 0.1,
    'rushing_td': 6,
    'passing_yds': 0.04,
    'passing_td': 4,
    'int': -2
}

In [59]:
df['FantasyPoints'] = (
    df['Receptions']*scoring_weights['receptions'] + df['ReceivingYds']*scoring_weights['receiving_yds'] + df['ReceivingTD']*scoring_weights['receiving_tds'] + \
    df['FL']*scoring_weights['FL'] + df['RushingYds']*scoring_weights['rushing_yds'] + df['RushingTD']*scoring_weights['rushing_td'] + df['PassingYds']*scoring_weights['passing_yds'] + \
    df['PassingTD']*scoring_weights['passing_td'] + df['Int']*scoring_weights['int']
)

In [60]:
df['FantasyPoints']

0      361.124
1      345.384
2      318.416
3      312.888
4      308.462
        ...
681      0.000
682      0.000
683      0.000
684      0.000
685      0.000
Name: FantasyPoints, Length: 686, dtype: float64

In [61]:
rb_df = df.loc[df['Pos'] == 'RB', ['Player', 'Team', 'Pos', 'Receptions', 'ReceivingYds']]

In [62]:
rb_df.head()

                 Player Team Pos  Receptions  ReceivingYds
12  Christian McCaffrey  CAR  RB       102.8         855.8
23       Saquon Barkley  NYG  RB        66.2         536.9
25      Ezekiel Elliott  DAL  RB        59.3         468.6
26        Derrick Henry  TEN  RB        21.5         183.7
30          Dalvin Cook  MIN  RB        58.1         519.8

In [63]:
rb_df = df.loc[df['Pos'] == 'RB'] 

rb_df.describe().transpose()

                     count        mean         std  ...     50%      75%      max
Receptions           155.0   17.506452   18.480993  ...   10.60   24.000   102.80
ReceivingYds         155.0  140.300645  153.581122  ...   85.70  198.100   855.80
ReceivingTD          155.0    0.708387    0.882143  ...    0.30    1.000     4.50
FL                   155.0    0.712903    0.757106  ...    0.50    1.300     2.70
RushingAtt           155.0   78.225161   82.304474  ...   46.70  137.900   294.80
RushingYds           155.0  334.525161  359.322937  ...  176.70  559.900  1481.10
RushingTD            155.0    2.428387    2.723008  ...    1.20    3.900    12.10
PassingAtt           155.0    0.000000    0.000000  ...    0.00    0.000     0.00
PassingCmp           155.0    0.000000    0.000000  ...    0.00    0.000     0.00
PassingYds           155.0    0.000000    0.000000  ...    0.00    0.000     0.00
PassingTD            155.0    0.000000    0.000000  ...    0.00    0.000     0.00
Int                  155.0    0.000000    0.000000  ...    0.00    0.000     0.00
FieldGoalsMade       155.0    0.000000    0.000000  ...    0.00    0.000     0.00
FieldGoalsAttempted  155.0    0.000000    0.000000  ...    0.00    0.000     0.00
ExtraPointsMade      155.0    0.000000    0.000000  ...    0.00    0.000     0.00
TotalSacks           155.0    0.000000    0.000000  ...    0.00    0.000     0.00
TotalInt             155.0    0.000000    0.000000  ...    0.00    0.000     0.00
FumblesRecovered     155.0    0.000000    0.000000  ...    0.00    0.000     0.00
FumblesForced        155.0    0.000000    0.000000  ...    0.00    0.000     0.00
DefensiveTDs         155.0    0.000000    0.000000  ...    0.00    0.000     0.00
SafetysForced        155.0    0.000000    0.000000  ...    0.00    0.000     0.00
PointsAllowed        155.0    0.000000    0.000000  ...    0.00    0.000     0.00
FantasyPoints        155.0   82.383871   83.097178  ...   53.82  125.385   375.06

[23 rows x 8 columns]

In [64]:
type(rb_df['RushingAtt'])

pandas.core.series.Series

In [65]:
df.sort_values(by='RushingYds', ascending=False).head(15)

                   Player Team Pos  ...  SafetysForced  PointsAllowed  FantasyPoints
26          Derrick Henry  TEN  RB  ...            0.0            0.0        261.780
25        Ezekiel Elliott  DAL  RB  ...            0.0            0.0        299.750
37             Nick Chubb  CLE  RB  ...            0.0            0.0        224.940
23         Saquon Barkley  NYG  RB  ...            0.0            0.0        310.790
41            Josh Jacobs   LV  RB  ...            0.0            0.0        222.940
36              Joe Mixon  CIN  RB  ...            0.0            0.0        240.980
30            Dalvin Cook  MIN  RB  ...            0.0            0.0        289.980
12    Christian McCaffrey  CAR  RB  ...            0.0            0.0        375.060
45           Chris Carson  SEA  RB  ...            0.0            0.0        215.870
38          Miles Sanders  PHI  RB  ...            0.0            0.0        249.220
0           Lamar Jackson  BAL  QB  ...            0.0            0.0        361.124
39            Aaron Jones   GB  RB  ...            0.0            0.0        239.980
42           Kenyan Drake  ARI  RB  ...            0.0            0.0        246.120
35  Clyde Edwards-Helaire   KC  RB  ...            0.0            0.0        254.230
49           James Conner  PIT  RB  ...            0.0            0.0        214.980

[15 rows x 26 columns]

In [66]:
adp_df = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/fantasypros/adp/PPR_ADP.csv', index_col=0)

In [67]:
adp_df.head()

                PLAYER POS  AVG
0  Christian McCaffrey  RB  1.0
1       Saquon Barkley  RB  2.0
2      Ezekiel Elliott  RB  3.5
3       Michael Thomas  WR  4.0
4          Dalvin Cook  RB  5.0

In [68]:
adp_df['ADP RANK'] = adp_df['AVG'].rank()

In [69]:
adp_df_cutoff = adp_df[:100]

In [70]:
replacement_players = {
    'RB': '',
    'WR': '',
    'QB': '',
    'TE': ''
}

for _, row in adp_df_cutoff.iterrows():
  position = row['POS']
  player = row['PLAYER']

  if position in replacement_players:
    replacement_players[position] = player

In [71]:
replacement_players

{'QB': 'Aaron Rodgers',
 'RB': 'Latavius Murray',
 'TE': 'Rob Gronkowski',
 'WR': 'Jamison Crowder'}

In [72]:
df = df[['Player', 'Pos', 'Team', 'FantasyPoints']]

In [73]:
df.head()

            Player Pos Team  FantasyPoints
0    Lamar Jackson  QB  BAL        361.124
1  Patrick Mahomes  QB   KC        345.384
2     Dak Prescott  QB  DAL        318.416
3   Deshaun Watson  QB  HOU        312.888
4   Russell Wilson  QB  SEA        308.462

In [74]:
replacement_values = {}

for position, player_name in replacement_players.items():
  player = df.loc[df['Player'] == player_name]
  replacement_values[position] = player['FantasyPoints'].tolist()[0]

In [76]:
replacement_values

{'QB': 277.432, 'RB': 118.62, 'TE': 139.5, 'WR': 192.27999999999997}

In [77]:
pd.set_option('chained_assignment', None)

In [78]:
df = df.loc[df['Pos'].isin(['QB', 'RB', 'WR', 'TE'])]

In [80]:
df['VOR'] = df.apply(
    lambda row: row['FantasyPoints'] - replacement_values.get(row['Pos']), axis = 1
)

In [82]:
df.head()

            Player Pos Team  FantasyPoints     VOR
0    Lamar Jackson  QB  BAL        361.124  83.692
1  Patrick Mahomes  QB   KC        345.384  67.952
2     Dak Prescott  QB  DAL        318.416  40.984
3   Deshaun Watson  QB  HOU        312.888  35.456
4   Russell Wilson  QB  SEA        308.462  31.030

In [83]:
pd.set_option('display.max_rows', None)

In [84]:
df['VOR Rank'] = df['VOR'].rank(ascending=False)

In [86]:
df.sort_values(by='VOR', ascending=False).head(100)

                    Player Pos Team  FantasyPoints      VOR  VOR Rank
12     Christian McCaffrey  RB  CAR        375.060  256.440       1.0
23          Saquon Barkley  RB  NYG        310.790  192.170       2.0
25         Ezekiel Elliott  RB  DAL        299.750  181.130       3.0
33            Alvin Kamara  RB   NO        295.950  177.330       4.0
30             Dalvin Cook  RB  MIN        289.980  171.360       5.0
26           Derrick Henry  RB  TEN        261.780  143.160       6.0
34          Michael Thomas  WR   NO        333.180  140.900       7.0
35   Clyde Edwards-Helaire  RB   KC        254.230  135.610       8.0
43           Austin Ekeler  RB  LAC        252.900  134.280       9.0
38           Miles Sanders  RB  PHI        249.220  130.600      10.0
42            Kenyan Drake  RB  ARI        246.120  127.500      11.0
36               Joe Mixon  RB  CIN        240.980  122.360      12.0
39             Aaron Jones  RB   GB        239.980  121.360      13.0
56            Travis Kelce  TE   KC        255.440  115.940      14.0
40           Davante Adams  WR   GB        300.450  108.170      15.0
37              Nick Chubb  RB  CLE        224.940  106.320      16.0
41             Josh Jacobs  RB   LV        222.940  104.320      17.0
57            Le'Veon Bell  RB  NYJ        217.900   99.280      18.0
48             Todd Gurley  RB  ATL        216.590   97.970      19.0
45            Chris Carson  RB  SEA        215.870   97.250      20.0
49            James Conner  RB  PIT        214.980   96.360      21.0
70           George Kittle  TE   SF        235.490   95.990      22.0
44             Julio Jones  WR  ATL        286.360   94.080      23.0
50           David Johnson  RB  HOU        211.410   92.790      24.0
54           Melvin Gordon  RB  DEN        206.720   88.100      25.0
0            Lamar Jackson  QB  BAL        361.124   83.692      26.0
95               Zach Ertz  TE  PHI        210.870   71.370      27.0
53         DeAndre Hopkins  WR  ARI        261.160   68.880      28.0
1          Patrick Mahomes  QB   KC        345.384   67.952      29.0
46             Tyreek Hill  WR   KC        259.170   66.890      30.0
66         Ronald Jones II  RB   TB        179.790   61.170      31.0
73        Devin Singletary  RB  BUF        179.300   60.680      32.0
52            Chris Godwin  WR   TB        250.020   57.740      33.0
94             Kareem Hunt  RB  CLE        174.140   55.520      34.0
69          Mark Ingram II  RB  BAL        171.730   53.110      35.0
162            Tarik Cohen  RB  CHI        171.240   52.620      36.0
67         Jonathan Taylor  RB  IND        170.800   52.180      37.0
117          Darren Waller  TE   LV        189.570   50.070      38.0
59              D.J. Moore  WR  CAR        241.630   49.350      39.0
60            Robert Woods  WR  LAR        241.440   49.160      40.0
156            James White  RB   NE        166.680   48.060      41.0
96            Mark Andrews  TE  BAL        187.530   48.030      42.0
62             Cooper Kupp  WR  LAR        238.820   46.540      43.0
55          Kenny Golladay  WR  DET        236.860   44.580      44.0
58              Mike Evans  WR   TB        235.180   42.900      45.0
68          Allen Robinson  WR  CHI        235.120   42.840      46.0
77          Raheem Mostert  RB   SF        160.040   41.420      47.0
2             Dak Prescott  QB  DAL        318.416   40.984      48.0
92               Cam Akers  RB  LAR        159.210   40.590      49.0
82        David Montgomery  RB  CHI        158.910   40.290      50.0
61            Amari Cooper  WR  DAL        230.990   38.710      51.0
103          D'Andre Swift  RB  DET        157.210   38.590      52.0
65           Calvin Ridley  WR  ATL        230.840   38.560      53.0
72            Keenan Allen  WR  LAC        230.750   38.470      54.0
64            Adam Thielen  WR  MIN        229.920   37.640      55.0
3           Deshaun Watson  QB  HOU        312.888   35.456      56.0
78     JuJu Smith-Schuster  WR  PIT        224.390   32.110      57.0
4           Russell Wilson  QB  SEA        308.462   31.030      58.0
106        Kerryon Johnson  RB  DET        149.420   30.800      59.0
71       Odell Beckham Jr.  WR  CLE        221.870   29.590      60.0
165            Evan Engram  TE  NYG        169.050   29.550      61.0
120        Phillip Lindsay  RB  DEN        144.720   26.100      62.0
63              A.J. Brown  WR  TEN        217.370   25.090      63.0
74          DeVante Parker  WR  MIA        215.560   23.280      64.0
173           Hunter Henry  TE  LAC        161.640   22.140      65.0
114       Ryquell Armstead  RB  JAC        140.350   21.730      66.0
187           Tyler Higbee  TE  LAR        160.660   21.160      67.0
152            Matt Breida  RB  MIA        138.780   20.160      68.0
5               Josh Allen  QB  BUF        297.482   20.050      69.0
75           Tyler Lockett  WR  SEA        211.900   19.620      70.0
79        Courtland Sutton  WR  DEN        211.350   19.070      71.0
102            Marlon Mack  RB  IND        137.630   19.010      72.0
6             Kyler Murray  QB  ARI        295.652   18.220      73.0
80          Terry McLaurin  WR  WAS        208.950   16.670      74.0
199           Duke Johnson  RB  HOU        134.830   16.210      75.0
84             T.Y. Hilton  WR  IND        208.180   15.900      76.0
81            Stefon Diggs  WR  BUF        205.150   12.870      77.0
7                Matt Ryan  QB  ATL        289.390   11.958      78.0
87           Jarvis Landry  WR  CLE        204.050   11.770      79.0
86              A.J. Green  WR  CIN        203.510   11.230      80.0
209         Antonio Gibson  RB  WAS        129.260   10.640      81.0
88              D.J. Chark  WR  JAC        202.360   10.080      82.0
99          Julian Edelman  WR   NE        201.860    9.580      83.0
123          Jordan Howard  RB  MIA        128.040    9.420      84.0
83            D.K. Metcalf  WR  SEA        201.610    9.330      85.0
208           Hayden Hurst  TE  ATL        148.280    8.780      86.0
97              Tyler Boyd  WR  CIN        200.190    7.910      87.0
185             Jared Cook  TE   NO        146.400    6.900      88.0
85          Michael Gallup  WR  DAL        198.330    6.050      89.0
221           Mike Gesicki  TE  MIA        145.070    5.570      90.0
216          Austin Hooper  TE  CLE        144.420    4.920      91.0
240         Chris Thompson  RB  JAC        122.730    4.110      92.0
207              Noah Fant  TE  DEN        142.510    3.010      93.0
161          Tevin Coleman  RB   SF        120.990    2.370      94.0
8               Drew Brees  QB   NO        279.616    2.184      95.0
91          Marquise Brown  WR  BAL        193.220    0.940      96.0
168           J.K. Dobbins  RB  BAL        119.250    0.630      97.0
188        Latavius Murray  RB   NO        118.620    0.000      99.5
109        Jamison Crowder  WR  NYJ        192.280    0.000      99.5
206         Rob Gronkowski  TE   TB        139.500    0.000      99.5